footer {
  font-weight: bold;
  border-top: 3px solid black;
  position: relative;
  margin: 300px 0px 0px 0px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-self: flex-end;
  width: 85%;
  max-width: 1200px;
  margin: auto;
  margin-top: 300px;
}
