@media screen and (max-width: 768px) {
  .contenedor {
    width: 90%;
    max-width: 1200px;
    margin: auto;
  }

  h2 {
    font-size: 35px;
  }

  header {
    padding: 0rem;
    border-bottom: 4px solid rgb(197, 48, 22);
    position: sticky;
  }

  .navSecciones__logoMobilenav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 18px 15px;
  }

  .navSecciones__logoMobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    top: 100px;
  }

  .navSecciones__logo {
    display: none;
  }

  /* Boton para abrir el menu */
  header .abrir {
    display: block;
    position: absolute;
    left: 20px;
    top: 6.5px;
    width: 90px;
  }

  /* Cuando me abre el menu en mobile */
  .navSecciones {
    display: none;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: white;
    z-index: 1;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: left 0.75s;
  }

  #navMobile:target {
    left: 0;
  }

  /* agrandar el tamano del logo*/
  .navSecciones__ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .navSecciones__ulVinculo {
    color: black;
    font-size: 30px;
    justify-content: center;
    margin: 10px 0;
  }

  header nav ul li {
    margin: 15px 0;
  }

  /* Para cerrar el menu en mobile */
  .cerrar {
    display: block;
    position: absolute;
    left: 25px;
    top: 20px;
    width: 50px;
  }

  .centralIndex__logo {
    display: none;
  }

  .centralIndex__slogan {
    font-size: 30px;
    width: 400px;
  }

  .centralIndex {
    height: 40vh;
    padding: 70px;
  }

  #descripcioninicio {
    padding: 45px 10px 75px;
  }
  .cuadrosinicio {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cuadrosinicio__posicion {
    font-size: 40px;
    width: 275px;
    margin: 25px;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 12px 0;
  }

  footer img {
    display: block;
    margin: auto;
  }

  .cobertura {
    display: flex;
    flex-direction: column;
  }

  .cobertura__descripcion {
    margin: 0 0 50px;
  }

  .cobertura__imagen img {
    width: 380px;
    display: block;
    margin: auto;
  }

  .numeros {
    font-size: 80px;
    margin: 0px 0px 0px 30px;
    text-align: center;
    width: 20%;
  }
}
